@import '../../theme/palette';

.task {
  display: flex;
  position: relative;
  min-width: 270px;
  width: 90%;
  height: 30px;
  background-color: $paletteColor2;
  border: 1px solid #ccc;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  align-items: center;
  margin: 2px 0;

  .taskValue {
    outline: none;
    margin-left: 47px;
    border: 0;
    width: calc(100% - 57px);
    font-family: 'Crimson Text', serif;
    color: $paletteColor1;
    font-style: italic;
    font-weight: 500;
  }

  .taskValueDone {
    outline: none;
    margin-left: 47px;
    border: 0;
    width: calc(100% - 57px);
    font-family: 'Crimson Text', serif;
    color: $paletteColor1;
    font-style: italic;
    font-weight: 500;
    text-decoration: line-through;
  }

  span {
    position: absolute;
    right: 10px;
    font-style: italic;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .select {
    position: absolute;
    left: 20px;
    width: 13px;
    height: 13px;
    border: 1px solid $paletteColor7;
    cursor: pointer;
  }

  .selected {
    position: absolute;
    left: 20px;
    width: 13px;
    height: 13px;
    border: 1px solid $paletteColor7;
    cursor: pointer;
    background-image: url('../../theme/assets/select.png');
    background-repeat: no-repeat;
    background-position: 2px 3px;
  }
}
