@import '../../theme/palette';

.task {
  display: flex;
  position: relative;
  width: 23vw;
  height: 30px;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  align-items: center;

  .taskValue {
    outline: none;
    border: 0;
    border-bottom: 1px solid $paletteColor1;
    width: calc(100% - 57px);
    font-family: 'Crimson Text', serif;
    color: $paletteColor1;
    font-style: italic;
    font-weight: 500;
  }

  .taskValueDone {
    outline: none;
    border: 0;
    border-bottom: 1px solid $paletteColor1;
    width: calc(100% - 57px);
    font-family: 'Crimson Text', serif;
    color: $paletteColor1;
    font-style: italic;
    font-weight: 500;
    text-decoration: line-through;
  }

  span {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 20px;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    font-style: italic;
    color: $paletteColor4;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  .select {
    position: absolute;
    left: 20px;
    width: 13px;
    height: 13px;
    background-color: $paletteColor3;
    border-radius: 50%;
    cursor: pointer;
  }

  .selected {
    position: absolute;
    left: 20px;
    width: 13px;
    height: 13px;
    background-color: $paletteColor3;
    background-image: url('../../theme/assets/select.png');
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    cursor: pointer;
  }
}
