.boxTaskList {
  background-color: #92d4d2;
  width: 40%;
  padding-top: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 12px;

  .folderMenu {
    margin: 0;

    li{
      height: 20px;
    }
  }


}