@import '../../theme/palette';

.task {
  display: flex;
  position: relative;
  width: 90%;
  height: 30px;
  border: 1px solid #ccc;
  background-color: $paletteColor2;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  align-items: center;

  .form {
    width: 100%;
  }
  input[type='text'] {
    outline: none;
    border: 0;
    margin-left: 47px;
    width: calc(100% - 87px);
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 500;
  }

  input[type='submit']{
    position: absolute;
    margin: 0;
    right: 5px;
    width: 30px;
    height: 20px;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    font-style: italic;
    font-family: 'Crimson Text', serif;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}
