@import '../../theme/palette';

.folder {
  position: relative;
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 14px;

  .contentValue {
    margin-left: 5px;
    padding: 5px 0;
    outline: none;
    background-color: $paletteColor8;
    width: 90%;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    cursor: pointer;
    color: $paletteColor1;
    display: inline-block;
  }
  span {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: $paletteColor8;
    font-family: 'Crimson Text', serif;
    font-size: 12px;
    cursor: pointer;
  }
}

.folder:hover {
  background-color: $paletteColor4;

  .contentValue {
    background-color: $paletteColor4;
  }
  span {
    background-color: $paletteColor4;
  }
}

.folderSelected {
  position: relative;
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  background-color: $paletteColor7;

  .contentValue {
    margin-left: 5px;
    padding: 5px 0;
    background-color: $paletteColor7;
    width: 90%;
    outline: 0;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    cursor: pointer;
    color: $paletteColor1;
    display: inline-block;
  }
  span {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: $paletteColor7;
    font-family: 'Crimson Text', serif;
    font-size: 12px;
    cursor: pointer;
  }
}
