@import '../../theme/palette';

.folder {
  position: relative;
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 14px;

  p {
    margin: 0;
    padding: 2px 0;
    outline: none;
    background-color: $paletteColor3;
    width: 100%;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    cursor: pointer;
    color: $paletteColor1;

    span {
      position: absolute;
      right: 20px;
      border: 0;
      outline: 0;
      //display: none;
      font-family: 'Crimson Text', serif;
      background-color: $paletteColor3;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.folder:hover {
  background-color: $paletteColor4;

  p{
    background-color: $paletteColor4;

    span {
      background-color: $paletteColor4;
      //display: block;
      font-size: 14px;
    }
  }
}

.folderSelected {
  background-color: $paletteColor4;
  position: relative;
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 14px;

  p {
    margin: 0;
    padding: 2px 0;
    outline: none;
    background-color: $paletteColor4;
    width: 100%;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    cursor: pointer;
    color: $paletteColor1;

    span {
      position: absolute;
      right: 20px;
      border: 0;
      outline: 0;
      font-family: 'Crimson Text', serif;
      background-color: $paletteColor4;
      font-size: 12px;
      cursor: pointer;
    }
  }
}