@import '../../theme/palette';

.folder {
  position: relative;
  width: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 14px;

  input[type='text'] {
    width: calc(100% - 55px);
    margin-left: 25px;
    outline: none;
    border: 0;
    background-color: $paletteColor8;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
  }

  input[type='submit']{
    position: absolute;
    width: 30px;
    border: 0;
    outline: none;
    font-family: 'Crimson Text', serif;
    background-color: $paletteColor8;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}