@import '../../theme/palette';

.taskList {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  font-family: 'Crimson Text', serif;
  background-image: url('../../theme/assets/bg.png');

  h1{
    font-style: italic;
    font-weight: 500;
    margin-top: 0;
  }
}

